<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>Learning Vue 3</h1>
    <div id="app">
        <h1>{{title}}</h1>
        <h4>Author name is {{author}}</h4>
        <h4>Author age is {{age}}</h4>
    </div>
    <h1>Learning Vue 3</h1>
    <div id="app">
        <div v-if="showbooks">
        <p>Book name is{{books[0].title}}</p>
        <p>Author name is {{books[0].author}}</p>
        <p>Author age is {{books[0].age}}</p>
        </div>
        <button @click="showbooks=!showbooks">
            <span v-if="showbooks">Hide</span>
            <span v-if="!showbooks">Show</span>
        </button>
        <br>

      
    </div>
    <script src="app.js"></script>
</body>
</html>